nav {
  display: inline-block;
  border-bottom: 3px solid blue;
}

body {
  border: 1px solid blue;
  width: 98%;
}

nav ul li {
  list-style-type: none;
  padding-left:20px;
  display: inline;
}

.container {
  border: 1px solid pink;
  width: 80%;
  margin: 5px;
  padding: 5px;
}

hr {
  height: 2px;
  background-color: purple;

}
