<h1> Edit Project </h1>
<form action="/projects/<%=@project.id %>" method="POST">
  <input type = "hidden" name="_method" value="put">
  <%= erb :'/projects/_project_form'  %>
<input class="myButton" type="submit" value="Edit Project">
  </form>
