    <div>Name:
    <input type="text" name="organization[name]" value=<%=@organization.name%>></div>
    <div>Type_of:
    <input type="text" name="organization[type_of]" value=<%=@organization.type_of%>></div>
