<% @organizations.each do |organization| %>
  <div class='container'>
    <div><a href="/organizations/<%=organization.id%>">Organization Name: <%= organization.name  %></a></div>
    <div>Type: <%= organization.type_of %></div>
  </div>
<% end %>
