<div >
  <div class = "errors">
    <% if @errors %>
      <% @errors.each do |msg| %>
      <%= msg %>
      <% end %>
    <% end %>
  </div>

  <h1>New organization</h1>
  <form action="/organizations" method="POST">
    <div>Name:
    <input type="text" name="organization[name]" value=<%=@organization.name%>></div>
    <div>Type_of:
    <input type="text" name="organization[type_of]" value=<%=@organization.type_of%>></div>
    <input class="myButton" type="submit" value="Create organization">
  </form>
</div>
