<div>Stretch</div>
<ol>
  <li>Google Maps</li>
  <li>GoFundMe Goal Meter</li>
  <li></li>
</ol>

<div>To Do</div>
<ol>
  <li>Edit Organizations</li>
  <li>Delete Organizations</li>
  <li>User and Organization Due Diligence</li>
  <li>User can only post if logged_in?</li>
  <li>CSS</li>
  <li>Error messages</li>
</ol>

<div>Doing</div>
<ol>
  <li>Stripe Payments*
    <ul>
      <li>Add column to users table or create customer table </li>
      <li>Post Show: Need to add charge button </li>
    </ul>
  </li>
</ol>

<div>Donezo!!!!!!!!!</div>
<ol>
  <li>Index Page with Newest 3 Project </li>
  <li>Delete Projects</li>
  <li>Edit Projects -- Add buttons on each page for logged in user</li>
  <li>Add projects</li>
  <li>View projects</li>
  <li>Add organizations</li>
  <li>View organizations</li>
  <li>New User</li>
  <li>Login</li>
  <li>Logout</li>

</ol>
